<div class="container app-container">
  <div class="sessao-text">
    <h2 class="app-title-h2">Sobre</h2>
    <p>
      O CONGRESSO REMOTO produz dados e análises sobre o sistema político brasileiro para a sociedade civil organizada visando a fortalecer sua capacidade de monitoramento e participação no processo legislativo durante o período de funcionamento excepcional do parlamento, resultante das exigências de distanciamento social decorrentes da pandemia de COVID-19.
    </p>
    <p>
      Fruto de parceria entre Dado Capital, Observatório Legislativo Brasileiro e Pulso Público –organizações com expertises complementares que atuam junto à sociedade civil –, o CONGRESSO REMOTO tem apoio institucional da Rede de Advocacy Colaborativa, da Fundação Avina e financeiro da Laudes Foundation
    </p>
  </div>
</div>
