<div class="container app-container">
  <h2>Na Mídia</h2>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio, et! Enim repellat quisquam soluta in voluptate ex voluptatem asperiores natus omnis fugiat, quaerat ipsam similique veritatis id voluptas saepe! Rerum!
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, excepturi voluptatem, maiores facilis culpa eligendi harum voluptates, facere deserunt iste aut possimus fuga? Possimus sit, dolores velit fugit delectus dicta!
  </p>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id autem architecto deserunt. Voluptates dolore pariatur expedita commodi nesciunt iste mollitia, saepe doloribus modi laborum maiores consequuntur dignissimos architecto id quo? Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit impedit officiis quam quaerat! Porro animi adipisci ad ratione velit illum inventore voluptatem facere necessitatibus aperiam, minus quaerat odit quidem iste.
  </p>
</div>
