@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

@import "../node_modules/bootstrap/scss/functions";
@import "assets/bootstrap/variables";
@import "../node_modules/bootstrap/scss/bootstrap";

body {
  min-height: 75rem;
  padding-top: 3.5rem;
}

.app-container {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.app-title {
  margin-bottom: 4rem;
}

.simbolo {
  width: 60px;
  height: 120px;
  background-color: $blue;
}

.simbolo-inverse {
  background-color: $white;
}

.simbolo-left {
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
}

.simbolo-right {
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
}
