@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

@import "../node_modules/bootstrap/scss/functions";
@import "assets/bootstrap/variables";
@import "../node_modules/bootstrap/scss/bootstrap";

body {
  min-height: 75rem;
  padding-top: 82px;
}

.app-container {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.app-title {
  margin-bottom: 4rem;
}

$simbolo-width-1: 20px;
$simbolo-width-2: 40px;
$simbolo-width-3: 50px;

.simbolo {
  width: $simbolo-width-1;
  height: $simbolo-width-1 * 2;
  background-color: $blue;
  @media (min-width: 576px) {
    width: $simbolo-width-2;
    height: $simbolo-width-2 * 2;
  }
  @media (min-width: 992px) {
    width: $simbolo-width-3;
    height: $simbolo-width-3 * 2;
  }
}

.simbolo-inverse {
  background-color: $white;
}

.simbolo-left {
  border-top-left-radius: $simbolo-width-1;
  border-bottom-left-radius: $simbolo-width-1;
  @media (min-width: 576px) {
    border-top-left-radius: $simbolo-width-2;
    border-bottom-left-radius: $simbolo-width-2;
  }
  @media (min-width: 992px) {
    border-top-left-radius: $simbolo-width-3;
    border-bottom-left-radius: $simbolo-width-3;
  }
}

.simbolo-right {
  border-top-right-radius: $simbolo-width-1;
  border-bottom-right-radius: $simbolo-width-1;
  @media (min-width: 576px) {
    border-top-right-radius: $simbolo-width-2;
    border-bottom-right-radius: $simbolo-width-2;
  }
  @media (min-width: 992px) {
    border-top-right-radius: $simbolo-width-3;
    border-bottom-right-radius: $simbolo-width-3;
  }
}
