<div class="home-wrapper">
  <div class="home-container container">
    <div>
      <div class="simbolo simbolo-inverse simbolo-left"></div>
    </div>
    <div class="home-text">
      <p>
        O
        <strong>CONGRESSO REMOTO</strong>
        produz dados e análises sobre a atividade parlamentar com o objetivo de aumentar
        sua transparência e fortalecer a participação cidadã na vida política durante o
        período de funcionamento remoto do Congresso.
      </p>
    </div>
    <div class="mt-auto">
      <div class="simbolo simbolo-inverse simbolo-right"></div>
    </div>
  </div>
</div>
<div class="sessao">
  <div class="container">
    <h4 class="app-title-center">O que fazemos</h4>
    <div class="row">
      <div class="col-sm-6 col-md-4 servicos">
        <div class="simbolo-titulos"></div>
        <h5>Painel</h5>
        <p class="servicos-texto">
          Plataforma de acompanhamento do que tramita no Congresso durante o regime especial.
        </p>
        <a
          href="https://painel.parlametria.org.br/"
          target="_blank"
          class="btn btn-outline-primary btn-sm stretched-link">
          Acessar
        </a>
      </div>
      <div class="col-sm-6 col-md-4 servicos">
        <div class="simbolo-titulos"></div>
        <h5>Análises</h5>
        <p class="servicos-texto">
          Boletins amplos e notas focadas em análises sobre o novo regimento, funcionamento e conjuntura do parlamento.
        </p>
        <a
          [routerLink]="['/analises']"
          class="btn btn-outline-primary btn-sm stretched-link">
          Acessar
        </a>
      </div>
      <div class="col-sm-6 col-md-4 servicos">
        <div class="simbolo-titulos"></div>
        <h5>Podcast</h5>
        <p class="servicos-texto">
          Episódios que discutem a fundo a dinâmica do Congresso durante seu regime especial.
        </p>
        <a
          [routerLink]="['/podcasts']"
          class="btn btn-outline-primary btn-sm stretched-link">
          Acessar
        </a>
      </div>
    </div>
  </div>
</div>
