.home-wrapper {
  background-color: #3b3e99;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  @media (min-width: 576px) {
    height: 60vh;
  }
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  @media (min-width: 576px) {
    height: 215px;
  }
}

.home-text {
  width: 520px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.servicos {
  @media (max-width: 991.98px) {
    margin-bottom: 3rem;
  }
}

.servicos-texto {
  @media (min-width: 576px) {
    height: 145px;
  }
  @media (min-width: 992px) {
    height: 95px;
  }
}
