<div class="home-wrapper">
  <div class="home-container container">
    <div>
      <div class="simbolo simbolo-inverse simbolo-left"></div>
    </div>
    <div class="home-text">
      <p>
        O
        <strong>CONGRESSO REMOTO</strong>
        produz dados e análises sobre a atividade parlamentar com o objetivo de aumentar
        sua transparência e fortalecer a participação cidadã na vida política durante o
        período de funcionamento remoto do Congresso.
      </p>
    </div>
    <div class="mt-auto">
      <div class="simbolo simbolo-inverse simbolo-right"></div>
    </div>
  </div>
</div>
